doctype html 

html
    head
        title Form Page
        link(rel='stylesheet', href='/css/style.css')
    body
        h1 Form Page
        form(action='/api/submit', method='POST')
            label(for='name') Name:
            input(type='text', id='name', name='name')
            br
            label(for='email') Email:
            input(type='email', id='email', name='email')
            br
            button(type='submit') Submit